<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Goodbye from Tweat on Food, <%= @current_user.fname %></h1>
    <p>
      You have successfully deleted your account,
			we're sorry to see you go.<br>
    </p>
    <p>Thanks for giving us your time, we hope to see you again in the future!
Have a great day!</p>
    <p>-The Tweat on Food Staff-</p>
  </body>
</html>

