<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Tweat on Food, <%= @current_user.fname %></h1>
    <p>
      You have successfully signed up to Tweat on Food,
      your username is: <%= @current_user.email %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>-The Tweat on Food Staff-</p>
  </body>
</html>

