<nav>

	<%= link_to 'Home Page', root_path %>  

	<%= link_to 'New Post', new_post_path %>  
	
	<% if @post != nil %>
		<%= link_to "Your Posts", post_postuser_path(@post) %>  
	<% else %>

	<% end %>

	<a href="mailto:info@tweatonfood.com">Contact Us</a>

	<%= link_to 'Log out', destroy_user_session_path, method: :delete %> 

</nav>

