<h1> About: Why does this site exist? </h1>

<p> Why does this site exist? Too many times, I have seen restaurants go under, restaurants I liked, owned by people I care about.  Most recently, a neighbor had lost her business because of lack of advice and perhaps a lack of experience in owning her own business.  I'm hoping that here, experts, consultants, and new restauranteurs will gather and share with each other the information needed to survive so people who invest so much in starting their new businesses have a higher percentage of succeeding. </p>

<%= link_to 'Home Page', root_path %>