
@font-face {
    font-family: 'condimentregular';
    src: url('condiment-regular-webfont.eot');
    src: url('condiment-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('condiment-regular-webfont.woff2') format('woff2'),
         url('condiment-regular-webfont.woff') format('woff'),
         url('condiment-regular-webfont.ttf') format('truetype'),
         url('condiment-regular-webfont.svg#condimentregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#landingContainer {
	height: 600px;
	width: 1018px;
	background-color: whitesmoke;
	opacity: 0.75;
	border: 2px solid whitesmoke;
	border-radius: 15px;
	margin: 0 auto;
}

#home_body {
	background-image: url("/assets/apple.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}


.title {
	font-family: 'condimentregular', 'serif';
	font-size: 3em;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	color: #2061D8;
}

#top {
	padding-top: 50px;
	text-align: center;
}

#bigTitle {
	font-size: 2.5em;
	color: #F8846D;
}

#home_menu {
	color: #F3F1F1;
}

#home_menu a {
	color: #F3F1F1;
	font-family: serif;
	font-size: 1.2em;
}

body {
	background-color: rgb(221, 235, 235);
	width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.post {
	font-size: 1.5em;
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

.links {
	list-style: none;
}

.comment {
	margin-left: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.0em;
}

/*------------ sign up form ---------------*/


.leftform {
	display: inline-block;
	width: 49%;
	float:left;
}

.rightform {
	width: 49%;
	float:left;
}

/*------------- Update Form ---------------*/

#cancel {
	padding-top: 30px;
	clear: both;
}

/*-------------- Biz Page (Show) -----------------*/

.leftbox {
	display: inline-block;
	height: 800px;
	width: 59%;
}

.posts_comments {
	height: 450px;
}


.rightbox {
	width: 40%;
	display: inline-block;
	float: right;
}

.info {
	height: 398px;

	.picframe img {
		width: 475px;
	}

}

.map {
	height: 398px;
}

.followSwitch {
	margin-top: 25px;
}

.nav {
	margin-top: 25px;
}

/*------------ post index page ------------*/
#heading{
	margin-bottom: 0;
}

#expert {
	margin-top: 0;
}

.expert {
	color: green;
}

#foot {
	margin-top: 20px;
	margin-bottom: 0;
}



@import "post";
@import "comments";

/*---------- PostUser Page - aggregate for one user ------------*/

.listposts li a {
	text-decoration: none;
	color: black;
}

.listposts li :hover {
	text-decoration: underline;
}
