//------------ Home Page ----------------------//
@font-face {
    font-family: 'condimentregular';
    src: url('condiment-regular-webfont.eot');
    src: url('condiment-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('condiment-regular-webfont.woff2') format('woff2'),
         url('condiment-regular-webfont.woff') format('woff'),
         url('condiment-regular-webfont.ttf') format('truetype'),
         url('condiment-regular-webfont.svg#condimentregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

nav {
	text-align: right;
}

#landingContainer {
	position: absolute;
	height: 600px;
	width: 1018px;
	background-color: whitesmoke;
	opacity: 0.75;
	border: 2px solid whitesmoke;
	border-radius: 15px;
	left: 50%;
	margin-left: -504px;
}

#home_body {
	background-image: url("/assets/apple.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
}

#overlay {
	position: absolute;
	display: none;
	height: 600px;
	width: 1018px;
	background-color: whitesmoke;
	opacity: 0.75;
	border: 2px solid whitesmoke;
	border-radius: 15px;
	left: 50%;
	margin-left: -504px;
}

#overlayText {
	width: 800px;
	margin: 0 auto;
	text-indent: 50px;
	padding-top: 5%;
	font-size: 1.2em;
}

#overlayText h1 {
	text-indent: 0;
}

.title {
	font-family: 'condimentregular', 'serif';
	font-size: 3em;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	color: #2061D8;
}

#top {
	padding-top: 50px;
	text-align: center;
}

#bigTitle {
	font-size: 2.5em;
	color: #F8846D;
}

#home_menu {
	color: #F3F1F1;
}

#home_menu a {
	color: #F3F1F1;
	font-family: serif;
	font-size: 1.2em;
	text-decoration: none;
}

#home_menu :hover {
	text-decoration: underline;
}

html {
	min-height: 100%;
}

body {
	#background-color: rgb(221, 235, 235);
	width: 1200px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 50px;
	background: -webkit-linear-gradient(left top, #CCEFEF , white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #CCEFEF, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #CCEFEF, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #CCEFEF , white); /* Standard syntax (must be last) */
}


//------------------ Layout --------------------//

.welcome {
	display: inline-block;
}

.welcome img {
	height: 20px;
}

#rightlogo {
	display: inline-block;
	float: right;
	//padding-right: 20px;
	font-family: condimentregular;
	font-size: 1.8em;
	width: 21%;
	margin-bottom: -25px;
	margin-top: -35px;
	color: orange;	
}

#rightlogo a {
	text-decoration: none;
	color: orange;
}

.clear {
	clear: both;
}

/*------------ sign up form ---------------*/


.leftform {
	display: inline-block;
	width: 49%;
	float:left;
}

.rightform {
	width: 49%;
	float:left;
	margin-bottom: 20px;
}

.pic {
	margin-top: 20px;
}


/*------------- Update Form ---------------*/

#cancel {
	padding-top: 30px;
	clear: both;
}

/*-------------- Biz Page (Show) -----------------*/

.nav {
	text-align: right;
	padding-bottom: 15px;
	border-bottom: 1px solid black;
}

.nav a {
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: black;
}

.nav :hover {
	text-decoration: underline;
	color: #e94840
}

.boxContainer {
	margin-top: 25px;
}

.leftbox {
	display: inline-block;
	width: 59%;
}

#postbox {
	border-bottom: 1px solid black;
}

.postStyle {
	font-size: 1.3em;
}

.posts_comments {
	margin-bottom: 30px;

	h1 {
		margin-top: 0;
	}
}

.commentShow {
	font-size: 1.2em;
	margin-top: 10px;
	border-bottom: 1px solid gray;
	padding-bottom: 15px;
}

.comment {
	margin-left: 30px;
}

.editComment {
	font-size: .8em;
}

.editComment a {
	font-size: .9em;
	text-decoration: none;
	color: black;
}

.editComment :hover {
	color: #e94840
}

.rightbox {
	width: 40%;
	display: inline-block;
	float: right;
	margin-bottom: 50px;
}

.info {
	height: 398px;

	.picframe img {
		width: 475px;
	}

}

.map {
	height: 398px;
}

.followSwitch {
	margin-top: 25px;
}


/*------------ post index page ------------*/

nav {
	padding-bottom: 15px;
	border-bottom: 1px solid black;
}

nav a {
	text-decoration: none;
	color: black;
	padding-left: 10px;
	padding-right: 10px;
}

nav :hover {
	text-decoration: underline;
	color: #e94840
}

#heading{
	margin-bottom: 0;
}

#expert {
	margin-top: 0;
}

.expert {
	color: green;
}

#foot {
	margin-top: 20px;
	margin-bottom: 0;
}

.post {
	font-size: 1.5em;
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -20px;
}

.comment {
	font-size: 1.2em;
	margin-top: 10px;
	padding-bottom: 15px;
}

#link a {
	text-decoration: none;
	color: black;
}

#link :hover {
	text-decoration: underline;
	color: darkblue;
}

.links {
	list-style: none;
}

.imgContainer1 {
	border: solid 1px black;
	border-radius: 5px;
	display: inline-block;
	background-color: whitesmoke;
	width: 100%;
	margin-top: 25px;
}

.imgContainer {
	border: solid 1px black;
	border-radius: 5px;
	display: inline-block;
	background-color: whitesmoke;
	width: 100%;
}
	
.imgContainer img, .imgContainer1 img {
	padding: 20px;
	width: 90%;
}
	

@import "post";
@import "comments";

/*---------- PostUser Page - aggregate for one user ------------*/

.postuser {
	font-size: 1.2em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.listposts li a {
	text-decoration: none;
	color: black;
}

.listposts li :hover {
	text-decoration: underline;
}

/*------------- Comment Form --------------*/

#comment_Title {
	margin-bottom: 15px;
}

#comment_title {
	border: 1px solid black;
	width: 450px;
}

#comment_body {
	width: 500px;
	height: 150px;
	font-size: 1em;
}

input {
	font-size: 1.2em;
	margin-top: 10px;
}

/*--------------- Post Form ----------------*/

#post_Title {
	margin-bottom: 15px;
}

#post_title {
	border: 1px solid black;
	width: 450px;
}

#post_body {
	width: 500px;
	height: 150px;
	font-size: 1em;
}

/*----- Flow.gs used to generate column for pictures on right ------*/
/*! 
 * Flow - A Fully Fluid Responsive Grid System
 * Created by Isaac Gray
 *
 * Generate a grid at http://flow.gs
 */

.section {
	clear: both;
	padding: 0;
	margin: 0;
	margin-left: -0.3em;
}

.col {
	display: block;
	float:left;
	width: 100%;
	box-sizing: border-box; /* Supported by IE 8+. If IE 7 and below support is required see http://html5please.com/#box-sizing */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-clip: padding-box; /* This allows column elements to have background colour without it bleeding into the gutter. Supported by IE 9+. If support for IE 8 and below is required, a content div with background colour should be placed inside the column */
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	margin: 0 0 0.3em 0;
	border-left: 0.3em solid transparent;
}

.group:before,
.group:after {
	content:"";
	display:table;
}

.group:after {
	clear:both;
}

@media only screen and (min-width:480px) {

	.col {
		width: auto;
	}

	.s1{ width: 66.66%; }

	.s2{ width: 33.33%; }

}

